body {
    background-color: gray;
}

h1 {
    display: inline;
    font: tahoma;
    ont-size: 66px;    
    margin-top: 0px;
    color: coral;
    alignment: center;
}    
    
p {
    display: inline;
    font: tahoma;
    font-size: 66px;
    margin-top: 0px;
    color: coral;
    alignment: center;
}

