body {
    background-color: gray;
}

h1 {
    display: inline;
    font-family: "Lucida Console", Monaco, monospace;  
    font-size: 55px; 
    font-weight: bold    
    margin-top: 0px;
    color: coral;
}    
    
p {
    display: inline;
    font-family: "Lucida Console", Monaco, monospace;  
    font-size: 66px;
    margin-top: 0px;
    color: coral;
}

h2 {
    display: inline;
    font-family: "Lucida Console", Monaco, monospace;  
    font-size: 55px;
    margin-top: 0px;
    color: red;
    alignment: center;
}
